[build]
  command = "CI=false npm install --legacy-peer-deps && npm run build"
  publish = "build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_OPTIONS = "--openssl-legacy-provider"
  NPM_FLAGS = "--legacy-peer-deps"

[dev]
  command = "npm start"
  port = 3000
